@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@1&family=Gloock&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

html,body{
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}